{% extends 'base.html' %}

{% block content %}
<!-- Spinner Start -->
<div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Daftar User</h1>
    </div>
</div>
<!-- Page Header End -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Daftar User Glory Salon :</h3>
            <div class="mt-3 mb-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="search" placeholder="cari nama" name="cari" class="form-control">
                </form>
            </div>
            <table class="table table-bordered table-striped" style="border: 3px solid white;">
                <thead>
                    <tr style="background-color: #dd3944; color: black;">
                        <th style="border: 3px solid black; color: white; text-align: center;">No</th>
                        <th style="border: 3px solid black; color: white; text-align: center;">Nama User</th>
                        <th style="border: 3px solid black; color: white; text-align: center;">Username</th>
                        <th style="border: 3px solid black; color: white; text-align: center;">Nomor HP</th>
                        <th style="border: 3px solid black; color: white; text-align: center;">Alamat</th>
                        <th style="border: 3px solid black; color: white; text-align: center;">Email</th>
                        {% if request.user.is_superuser %}
                        <th style="border: 3px solid black; color: white; text-align: center;">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for ouser in user %}
                    <tr style="background-color: white; color: black;">
                        <td style="border: 3px solid black; color: black; text-align: center;"><strong>{{ forloop.counter }}</strong></td>
                        <td style="border: 3px solid black; color: black; text-align: center;"><strong>{{ ouser.nama }}</strong></td>
                        <td style="border: 3px solid black; color: black; text-align: center;"><strong>{{ ouser.username }}</strong></td>
                        <td style="border: 3px solid black; color: black; text-align: center;"><strong>{{ ouser.nohp }}</strong></td>
                        <td style="border: 3px solid black; color: black; text-align: center;"><strong>{{ ouser.alamat }}</strong></td>
                        <td style="border: 3px solid black; color: black; text-align: center;"><strong>{{ ouser.email }}</strong></td>
                        {% if request.user.is_superuser %}
                        <td style="border: 3px solid black; color: black; text-align: center;">
                            <a href="{% url 'ubahuser' ouser.nama %}" class="btn btn-warning btn-sm" title="Edit">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-username="{{ ouser.nama }}" title="Delete">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Konfirmasi Penghapusan -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white"> <!-- Tambahkan kelas bg-danger untuk warna merah dan text-white untuk warna teks putih -->
                <h5 class="modal-title" id="deleteModalLabel">Konfirmasi Penghapusan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Apakah Anda yakin ingin menghapus user <strong id="userName"></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                <form id="deleteForm" method="post" action="#">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-danger btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var username = button.getAttribute('data-username');
        var modalUserName = deleteModal.querySelector('#userName');
        var deleteForm = deleteModal.querySelector('#deleteForm');
        modalUserName.textContent = username;
        deleteForm.action = `{% url "hapususer" "dummy" %}`.replace("dummy", username);
    });
</script>

{% endblock %}
